* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
.popup__button {
	display: none;
}
.popup__menu__wrapper {
	display: none;
}
.container {
	max-width: 1290px;
	margin: 0 auto;
}

.header {
	/* max-width: 1290px;
    margin: 0 auto;  */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
	background-color: white;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.elecromelmash {
	height: 792px;
	width: 100%;
}
.logo img {
	width: 132px;
	height: 116px;
}
.header__content {
	display: flex;
	gap: 50px;
}
.nav-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.item {
	max-width: 1290px;
	width: 100%;
	background-color: red;
	height: 80px;
}
.nav-links {
	display: flex;
	gap: 35px;
}

.nav-links a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 16px;
}

.working-hours {
	font-size: 16px;
	color: #333;
	margin-top: 5px;
}

/* Стиль для почты */
.email {
	margin-top: 50px;
}
.email a {
	color: green;
	text-decoration: none;
	font-weight: bold;
}

/* Стили для блока языков и телефона */
.contact-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.languages {
	display: flex;
	gap: 10px;
}

.languages a {
	text-decoration: none;
	color: black;
}

.phone {
	font-size: 18px;
	font-weight: bold;
	color: black;
}

.languages {
	display: flex;
	align-items: center;
	gap: 10px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none; /* По умолчанию скрыт */
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block; /* Показывать при наведении */
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

/* Стили для кнопки выбора */
.dropbtn {
	background-color: #f9f9f9;
	color: black;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropbtn:hover {
	background-color: #ddd;
}

/* Контейнер для фона */
.bg__image {
	position: absolute;
	left: 0;
	width: 100vw;
	height: 792px;
}
.hero-section {
	position: relative;
	width: 100%;
	height: 75vh; /* Полная высота экрана */
	/* background-image: url('16 1.png'); Путь к вашему фоновому изображению */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Текст поверх фона */
.hero-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: rgba(255, 255, 255, 0.889); /* Белый цвет с прозрачностью */
}

.hero-text h1 {
	font-size: 72px; /* Размер заголовка */
	font-weight: bold;
	color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый текст */
}

.hero-text p {
	font-size: 24px;
	color: rgba(255, 255, 255, 0.7); /* Прозрачность для описания */
}

/* Адаптив для экранов с высоким разрешением */
@media screen and (min-width: 1920px) {
	.hero-text h1 {
		font-size: 100px;
	}

	.hero-text p {
		font-size: 32px;
	}
}

/* Навигационные стрелки */
.navigation {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-80%);
	display: flex;
	gap: 20px;
}

.navigation a {
	font-size: 32px;
	color: white;
	text-decoration: none;
	opacity: 0.8;
}

.navigation a:hover {
	opacity: 1;
}
.nav-links1 {
	display: flex;
	gap: 50px;
	padding-top: 20px;
}

.nav-links1 a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}
.section {
	margin-top: 90px;
}

.section h1 {
	font-size: 48px;
	color: #333;
	font-weight: bold;
	margin: 0;
	padding: 0;
	margin-bottom: 39px;
}

.section p {
	font-size: 18px;
	color: #666;
	line-height: 1.6;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding: 0;
	margin: 0;
}

.stats {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.stats .stat {
	flex: 1;
	margin: 10px;
}

.stats .stat span {
	font-size: 20px;
}

.stats .stat h2 {
	font-size: 60px;
	color: #c4a45f;
	margin-bottom: 5px;
	font-weight: bold;
}

.stats .stat p {
	font-size: 16px;
	color: #333;
	line-height: 1.4;
}

.stats .stat h2 {
	font-size: 60px;
	color: #c4a45f;
	margin-bottom: 5px;
	font-weight: bold;
}

.stats .stat p {
	font-size: 16px;
	color: #333;
	line-height: 1.4;
}
.elevator__wrapper {
	display: flex;
	flex-direction: column;
}
.elevator {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.elevator__item {
	position: relative;
	max-width: 300px;
	max-height: 240px;
	color: white;
	-webkit-text-stroke: 0.3px black;
}
.elevator__item h3 {
	position: absolute;
	top: 24px;
	left: 24px;
}
/* foto */
.el_ob {
	margin-top: 70px;
}

.el_ob h1 {
	font-size: 36px;
	color: #333;
	margin: 0;
	padding: 0;
	font-weight: bold;
	margin-bottom: 48px;
}
.equipment-section {
	margin-top: 75px;
}

.equipment-header {
	font-size: 48px;
	text-align: left;
	color: #333;
	margin-bottom: 30px;
	font-weight: bold;
}

.equipment-content {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	margin-bottom: 40px;
}

.equipment-item {
	position: relative;
	max-height: 240px;
}

.equipment-item .arrow {
	position: absolute;
	left: 27px;
	bottom: 36px;
}

.equipment-item .background__image {
	width: 100%;
	height: auto;
	border-radius: 10px;
	object-fit: cover;
}

.equipment-item h3 {
	position: absolute;
	top: 27px;
	left: 30px;
	color: white;
	font-size: 24px;
	font-weight: bold;
	z-index: 2;
	margin: 0;
	padding: 0;
}

.equipment-item:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1;
	border-radius: 10px;
}

.equipment-item a {
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 24px;
	color: white;
	z-index: 2;
	text-decoration: none;
}

.equipment-text {
	font-size: 18px;
	color: #666;
	line-height: 1.6;
	text-align: left;
}
.services {
	margin-top: 40px;
}
.uskp1 {
	display: flex;
	flex-wrap: wrap;
	margin-top: 35px;
	column-gap: 20px;
	row-gap: 55px;
}
.bc1 {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
}
.bc1 h4 {
	margin-top: 31px;
	margin-bottom: 41;
	color: #7f9d64;
	left: 0%;
}
.h11 {
	text-align: left;
	margin: 0;
	padding: 0;
	/* margin-top: 39px; */
}
.bc1 img {
	height: 240px;
	width: 630px;
}
.bc1 p {
	color: grey;
}

.iz {
	position: relative;
}
.iz p {
	position: absolute;
	bottom: 16px;
	right: 37px;
	font-size: 72px;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.5);
}
.new_cmp2 {
	display: flex;
}
.iz h4 {
	left: 0%;
}
.bl3 {
}
.bl3 h4 {
	color: #3e8e41;
}
/* Контейнер для всей формы */
.contact-section1 {
	background-color: #9ca77f;
	text-align: center;
	max-width: 100%;
	margin: 0 auto;
	height: 642px;
	margin-top: 135px;
	position: relative;
}
.contact__wrapper {
	padding-top: 75px;
}
.contact-section1::after {
	content: '';
	position: absolute;
	background-color: #9ca77f;
	transform: translateX(-50%);
	width: 100vw;
	top: 0;
	height: 100%;
	z-index: -1;
}

.in1 {
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: 30px;
}
.in2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.in2 input,
.in2 textarea {
	border-radius: 0px;
}

.contact-section1 h2 {
	font-size: 36px;
	font-weight: bold;
	color: #ffffff;
	margin: 0;
	padding: 0;
}

.contact-form1 {
	padding-top: 50px;
}

.contact-form1 input,
.contact-form1 textarea {
	width: 100%;
	padding: 15px;
	font-size: 16px;
	color: #ffffff;
	background-color: transparent;
	border: 2px solid #ffffff;
	outline: none;
	transition: border 0.3s ease;
	box-sizing: border-box;
}

/* Для полей ввода */
.contact-form1 input {
	max-width: 30%;
}

/* Поле для текста (textarea) */
.contact-form1 textarea {
	width: 100%;
	height: 150px;
	margin-top: 30px;
}

.contact-form1 input::placeholder,
.contact-form1 textarea::placeholder {
	color: #ffffff; /* Цвет текста placeholder */
}

/* Стили для кнопки */
.contact-form1 button {
	background-color: #ffffff;
	color: #7f9d64;
	font-size: 18px;
	padding: 15px 70px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-top: 57px;
}

.contact-form1 button:hover {
	background-color: #f0f0f0;
}

/* Текст согласия под кнопкой */
.contact-agreement1 {
	font-size: 14px;
	color: #ffffff;
	margin: 0;
	padding: 0;
	margin-top: 24px;
}

.footer1 {
	width: 100%;
	height: 525px;
	background-color: #faf6ec;
	margin: 0 auto;
	/* display: flex; */
	justify-content: space-between;
	padding: 20px 0;
}

.WM {
	max-width: 1290;
	width: 100%;
	align-items: center;
	margin: 0 auto;
}
.fot1 {
	display: flex;
	text-align: left;
	justify-content: space-between;
	align-items: flex-start; /* вотпомогает центризовать */
	width: 100%;
	max-width: 1290px;
	margin: 0 auto;
	box-sizing: border-box;
}
.men1 a {
	left: 0;
	text-decoration: none;
	color: #333;
	padding: 10px 20px;
}

.men1 nav {
	display: flex;
	flex-direction: column;
}
.cve {
}
hr {
	margin: 20px 0;
	border: 0.5px solid #ccc;
	width: 100%;
}
.bl111 {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.bl111 img {
	height: 32px;
	width: 32px;
}
.bl111 {
	left: 0;
	text-decoration: none;
	color: #333;
	padding: 10px 20px;
}
.ft1 {
	gap: 10px;
	max-width: 1290px;
	justify-content: space-around;
	align-items: flex-start;
	text-align: center;
	margin: 0 auto;
	margin-top: 25px;
	display: flex;
	width: 100%;
	height: 121px;
	background-color: white;
	box-sizing: border-box;
}
.bft1 {
	justify-content: space-between;
	color: #333;
}

/* так пробный скрипт с второй страницей  */

.container1 {
	display: flex;
	flex-direction: column;

	align-items: flex-start;
	justify-content: center;
}
.image-gallery1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main-image1 {
	width: 409px;
	height: 409px;
	margin-bottom: 10px;
}
.thumbnails1 {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.thumbnail1 {
	width: 85px;
	height: 85px;

	cursor: pointhr;
}
.info-box1 {
	width: 814px;
	height: 234px;
	margin-left: 20px;
	padding: 20px;

	box-sizing: border-box;
}
h2 {
	font-size: 24px;
	margin-bottom: 15px;
}
.pr1 {
	display: flex;
	flex-direction: column;
}

.pr2 {
	display: flex;
}
.pr3 {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}
.pr3 p:first-child {
	margin-top: 24px;
}
.btn-catalog {
	margin-top: 45px;
}
.ssilka {
	display: flex;
	width: 100%;
	height: 51px;
}
.ssilkaA1 {
	left: 0;
	text-decoration: none;
	color: #333;
}
.imgA1 {
	width: 20px;
	height: 20px;
}
.ssilkaA2 {
	left: 0;
	text-decoration: none;
	color: green;
}
.thumbnails {
	display: flex;
	gap: 23px;
}
.btn11 {
	display: flex;
	margin-top: 40px;
	gap: 27px;
	margin-left: 30px;
}
.btn {
	padding: 12px 0px;
	max-width: 250px;
	width: 100%;
	border-radius: 2px;
	text-align: center;
	color: white;
	text-decoration: none;
}
.btn111 {
	background-color: #7f9d64;
}
.btn112 {
	background-color: #cdbd84;
}
.pr4 {
	display: flex;
	flex-direction: column;
	color: #222222;
	margin-left: 66px;
}
.sp1 {
	font-size: 26px;
	font-weight: 700;
}
.spr1 {
	font-weight: 700;
	margin-top: 67px;
	margin-left: 30px;
}
/* таблица */
.iksweb {
	border: none;
	border-collapse: collapse;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	height: auto;
}
.iksweb,
.iksweb td,
.iksweb th {
	border: 1px solid #595959;
}
.iksweb td,
.iksweb th {
	padding: 3px;
	width: 30px;
	height: 35px;
}
.iksweb th {
	background: #347c99;
	color: #fff;
	font-weight: normal;
}
.dvtb1 {
	padding: 26px;
	border: 2px solid #cdbd84;
}
.iksweb {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	height: auto;
}
.iksweb,
.iksweb td,
.iksweb th {
	border: 1px solid #dcdcdc;
}
.iksweb td,
.iksweb th {
	width: 30px;
	height: 35px;
}
.iksweb th {
	background: #347c99;
	color: #fff;
	font-weight: normal;
}
.iksweb .col-left {
	border-left: 0px;
}

.r1 {
	display: flex;
	margin-top: 75px;
}
.r11 {
	background-color: #cdbd84;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 0;
	color: white;
	/* padding: 5px; */
	height: 56px;
	width: 309px;

	text-align: center;
}
.r22 {
	text-align: center;
	background-color: gray;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 0;
	color: white;
	padding: 9px 18px;
	/* height: 45px;
	width: 223px; */
	margin-bottom: 0;
	margin: 2px;
}
.sikp {
	display: flex;
	flex-direction: column;

	left: 0;
}
.sikp h2 {
	font-weight: 700;
}
/* 3 страница  */
/* 3 страница  */
/* 3 страница  */
/* 3 страница  */
/* 3 страница  */
.listalka {
	margin-top: 47px;
	display: flex;
}
.listalka a {
	padding: 5px;
	text-decoration: none;
	color: #222222;
}
.vibor1 {
	width: 15px;
	height: 15px;
	background-color: #c4a45f;
	text-align: center;
	border-radius: 2px;
}
.str3 {
	display: flex;
	flex-direction: column;
}
.str3 h2 {
	font-weight: 700;
	margin-bottom: 29px;
}
.blstr3__wrapper {
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.blstr3 {
	display: flex;
	padding: 32px;
	border: 1px solid #ebebeb;
	box-sizing: border-box;
}
.blstr3:hover {
	border: 0px;
	box-shadow: 0px 4px 20px 0px #0000001a;
}
.blstr3:hover h3 {
	text-decoration: underline;
}
.blstr3iz {
	height: 271;
	width: 271;
}
.perecl {
}
.iz h4 {
	left: 0%;
	margin-top: 31px;
}

@media (max-width: 1360px) {
	.container {
		padding: 0 30px;
	}
}

@media (max-width: 1240px) {
	.popup__button {
		display: block;
	}
	.noscroll {
		overflow-y: hidden;
	}
	.popup__close {
		position: absolute;
		right: 20px;
		top: 15px;
	}
	.popup__menu__wrapper {
		position: absolute;
		width: 100%;
		background-color: #fff;
		height: 100%;
		z-index: 10;
		transform: translateX(-100%);
		transition: transform 0.5s;
	}
	.active {
		display: block;
		transform: translateX(0%);
	}
	.popup__menu__content {
		margin-top: 46px;
		margin-left: 20px;
	}
	.popup__menu {
		list-style-type: none;
		display: flex;
		flex-direction: column;
		gap: 25px;
	}
	.popup__menu__item a {
		color: #222222;
		text-decoration: none;
		font-weight: 600;
	}
	.popup__menu__contacts__phone {
		font-size: 20px;
		margin-top: 55px;
		color: #222222;
		font-weight: 600;
	}
	.popup__menu__contacts__mail {
		margin-top: 40px;
		font-size: 20px;
		font-weight: 500;
		color: #69a54d;
	}
	.popup__menu__contacts__hours {
		margin-top: 22px;
	}
	.email {
		display: none;
	}
	.header {
		gap: 40px;
	}
	.header__content {
		margin-left: auto;
	}
	.nav-links {
		display: none;
	}
	.working-hours {
		display: flex;
		flex-direction: column;
	}
	.nav-links1 {
		display: none;
	}
	.equipment-content {
		justify-content: flex-start;
	}
	.equipment-item {
		max-width: 334px;
		max-height: 127px;
	}
	.fields__container {
		display: flex;
		width: 100%;
		gap: 20px;
		height: 200px;
	}
	.hero-text h1 {
		font-size: 57px;
	}

	.in1 {
		flex-direction: column;
		gap: 21px;
	}

	.in1 input {
		max-width: 100%;
		border: 1px solid #fff;
	}

	.fields__container textarea {
		border: 1px solid #fff;
		margin: 0;
		height: 100%;
	}

	.WM {
		display: none;
	}
	.footer1 {
		height: 248px;
	}
	.footer1 hr {
		display: none;
	}
	.fot1 {
		flex-wrap: wrap;
		gap: 20px;
	}
	.bl111 {
		flex-direction: unset;
		padding: 0;
	}
	.bl111:first-child {
		width: 45%;
	}
	.bl111:nth-child(2) {
		width: 45%;
	}
	.bl111:last-child {
		width: 100%;
	}
	.ft1 {
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 768px) {
	.container {
		padding: 0 20px;
	}
	.logo img {
		width: 79px;
		height: 69px;
	}
	.nav-container {
		display: none;
	}
	.header .phone {
		display: none;
	}
	.hero-text h1 {
		font-size: 25px;
	}
	.hero-text p {
		font-size: 15px;
	}
	.section h1 {
		font-size: 26px;
		text-align: center;
	}
	.equipment-header {
		font-size: 26px;
		text-align: center;
	}
	.stats {
		flex-direction: column;
	}
	.elecromelmash {
		height: 500px;
	}
	.bg__image {
		height: 500px;
	}
	.elevator {
		justify-content: center;
	}
	.equipment-content {
		flex-direction: column;
		align-items: center;
	}
	.bc1 {
		width: 100%;
		flex: auto;
	}
	.iz {
		width: 100%;
	}
	.iz img {
		width: 100%;
	}
	.fot1 {
		flex-direction: column;
		align-items: center;
	}
	.bl111:last-child {
		width: auto;
	}
	.bl111:last-child .bl111__container {
		display: flex;
		flex-direction: column;
	}
}
.new_cmp11 {
	display: flex;
	flex-direction: column;
}
.bl33 {
	margin-right: 30px;
}
.bl33 p {
	margin-right: 31px;
}
.bl33 h4 {
	color: #3e8e41;
	margin-top: 31px;
	margin-bottom: 17px;
}

.new_cmp22 {
	display: flex;
}
.new_cmp11 {
	margin-top: 66px;
	margin-bottom: 44px;
}
.jj {
	margin-bottom: 30px;
	margin-right: auto;
}
.new_cmp11 h2 {
	margin-bottom: 44px;
}
.datd12 {
	font-size: 14px;
	color: #cac1a0;
	margin-bottom: 15px;
	margin-top: 17px;
}
.nn {
	display: flex;
	justify-content: space-between;
	margin-top: 67px;
}
.nn2 {
	display: flex;
}
.nn2 img {
	height: 39px;
	width: 62px;
}
